.form {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  padding: 1.875rem;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  background-color: var(--white);

  h2 {
    font-size: 1.875rem;
    font-weight: var(--fw-normal);
    line-height: 2.5rem;
  }

  button {
    align-self: start;
  }
}
