.upload__link {
  align-self: flex-start;
  display: flex;
  align-items: center;
  gap: 0.313rem;
  text-decoration: none;
  color: var(--blue);
  border-radius: var(--radius);

  i {
    font-size: 0.938rem;
  }
  &:hover {
    color: var(--blue-light);
  }
  &:focus {
    outline: 2px solid var(--blue-light);
  }
}

.upload__area {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1.875rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 1.25rem);
  height: calc(100% - 1.25rem);
  border: 1px dashed var(--grey-dark);
  background: rgba(255, 255, 255, 0.9);
  border-radius: var(--radius);
  text-align: center;
  h3 {
    font-size: 1.875rem;
    font-weight: var(--fw-normal);
  }
  button {
    align-self: center;
  }
}

.upload__closed {
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
  position: absolute;
  top: 0.313rem;
  right: 0.313rem;

  i {
    font-size: 2rem;
    color: var(--grey-light);
  }
}

.upload__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.625rem;
  list-style: none;
}

.upload__file {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.625rem;
  column-gap: 0.938rem;
  border: 1px solid var(--grey-light);
  border-radius: var(--radius);
  overflow: hidden;

  div {
    display: flex;
    align-items: center;

    i {
      font-size: 1.875rem;
      color: var(--grey);
      padding-right: 0.938rem;
    }
    p {
      max-width: 170px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  button {
    cursor: pointer;
    align-self: center;
    background: none;
    color: var(--red);
    font-size: 1rem;
    border: none;
    i {
      padding-right: 0.313rem;
    }
  }
}
