@font-face {
  font-family: 'icon';
  src: url('../public/fonts/icon.eot?9tplox');
  src: url('../public/fonts/icon.eot?9tplox#iefix') format('embedded-opentype'),
    url('../public/fonts/icon.ttf?9tplox') format('truetype'),
    url('../public/fonts/icon.woff?9tplox') format('woff'),
    url('../public/fonts/icon.svg?9tplox#icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paperclip:before {
  content: '\e900';
}
.icon-trash:before {
  content: '\e901';
}
